.mat-nav-list a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mat-nav-list a:hover {
    background: #2b31e9ab
}

.profile-info {
    background-color: #2a2a72;
    background-image: linear-gradient(151deg, #2b31f2 0%, #0f1751 66%);
    text-align: center;
    text-transform: initial;
    padding: 45px 0;
    margin-bottom: 20px;
    box-shadow: 5px 10px 8px #3b43b3
}

.profile-picture {
    height: 50px;
    width: 50px;
}

.mat-expansion-panel-header {
    background-color: #2a2a72;
    background-image: linear-gradient(331deg, #19194a -71%, #009ffd 74%);
    color: #fff;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 0 16px;
    font-family: fongsong;
}

.mat-expansion-panel-header:hover {
    background: #2b31f2
}


/* .mat-expansion-panel:hover {
    background: #9ebafc;
} */

.mat-expansion-panel {
    background-color: #2a2a72;
    background-image: linear-gradient(312deg, #19194a -91%, #009ffd 91%);
}

.mat-expansion-panel {
    background: rgb(125 176 209);
}

.mat-icon {
    font-size: 20px;
}

:host ::ng-deep .mat-list-item{
    font-family: fongsong !important;
}