<div class="formBody">
    <mat-card class="matCardProperty">
        <mat-card-content class="matContent">
            <form class="diagnosisForm" [formGroup]="diagnosisForm" (ngSubmit)="addDiagnosisData()">
                <mat-form-field class="matFormField">
                    <mat-label>Diagnosis Code</mat-label>
                    <input formControlName="diagnosisCode" matInput matInput name="diagnosisCode" required>
                    <mat-error>
                        Please provide Diagnosis Code
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="matFormField">
                    <mat-label>Diagnosis Description</mat-label>
                    <input formControlName="diagnosisDescription" matInput matInput name="diagnosisDescription"
                        required>
                    <mat-error>
                        Please enter Diagnosis description
                    </mat-error>
                </mat-form-field>

                <div mat-dialog-action [align]="'end'">
                    <button mat-raised-button class="matFormField matRegisterButton">{{actionBtn}}</button>
                    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>