/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  .mat-form-field{
    width:30% !important;
    float:left;
 }

 .mat-flat-button{
   float: right;
 }

 :host ::ng-deep th.mat-header-cell {
  background: #089cf4;
  color:white !important;
  text-decoration-color:white !important;
  
   /* background-image: linear-gradient(315deg, #19194a 0%, #009ffd 74%); */
}

:host ::ng-deep mat-header-cell[_ngcontent-ovq-c409]{
  background: #089cf4;
  text-decoration-color:white !important;
}
:host ::ng-deep .mat-sort-header-content {
 text-decoration-color: white !important;
}
