table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  th.mat-header-cell {
    background: #089cf4;
    
     /* background-image: linear-gradient(315deg, #19194a 0%, #009ffd 74%); */
  }
  
  :host ::ng-deep .mat-sort-header-content {
  font-style: italic;
  }
